<!DOCTYPE HTML>
		<title>the interview club</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/jquery.scrollgress.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.2.16.min.js"></script>
		<script src="lib/tmpl.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-wide.css" />
		</noscript>
    <link rel="stylesheet" href="/css/bootstrap-modal.css">
    <script>
      $(function(){
        $("#expertse_placeholder").load("expertise.html");
      });
    </script>
    <!-- Optional theme -->
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"-->

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="skel-layers-fixed">
				<h1><a href="index.html">the interview club</a> by JAI</h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="#">Login</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="container 75%">
              <form class="form-editExpert">
          <div class="box">
            <h3>Edit your information</h3>
            <div id="information_form">
              <div style="margin-bottom: 18px;">
                <label for="price">Price per interview ($/hr)</label>
                <input name="price" id="price" placeholder="100" required=""></input>
              </div>
              <div style="margin-bottom: 18px;">
                <label>Details - tell us about yourself!</label>
                <textarea name="details" id="details"></textarea>
              </div>
              <div style="margin-bottom: 18px;">
                <label>First name</label>
                <input name="givenName" id="givenName" placeholder="" required=""></input>
              </div>
              <div style="margin-bottom: 18px;">
                <label>Last name</label>
                <input name="familyName" id="familyName" placeholder="" required=""></input>
              </div>
              <div style="margin-bottom: 18px;">
                <label>Organization</label>
                <input name="organization" id="organization" placeholder="Organization"></input>
              </div>
              <div style="margin-bottom: 18px;">
                <label>Profile picture</label>
                <input id="fileupload" type="file"></input>
                <div id="image" style="display:none;width:100px;height:100px;"></div>
              </div>
          </div>
        </div>
        <div class="expertise_selection box">
          Selected expertises
          <ul class="selected_expertise_pills" style="margin-top: 7px"></ul>
          Unselected expertises
          <ul class="unselected_expertise_pills" style="margin-top: 7px"></ul>
        </div>
        <div class="box social_box">
          <h3>Websites and social links</h3>
          <ul class="social_pills"></ul>
          <input id="social_name" type="text" placeholder="Name">
          <input id="social_url" style="margin-top:15px" type="text" placeholder="Url">
          <button class="button" style="margin-top:25px" id="social_submit">Add</button>
        </div>
        </div>
        <div class="box">
              <button type="submit" class="button" style="background-color:orange;font-size:18px">Save</button>
        </div>
        </form>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
					<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
					<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Untitled. All rights reserved.</li>
				</ul>
			</footer>

    <div class="modal fade" id="companySignupModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" style="margin-top: 10%">
        <div class="modal-content">
          <div class="modal-header">
            <span style="float:right;cursor:pointer" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></span>
            <h4 class="modal-title" id="myModalLabel">Reserve this expert to help with your hiring.</h4>
          </div>
          <div class="modal-body">
            <div id="company_form">
              <form class="form-createExpert">
                <label for="inputName">Company</label>
                <input type="text" name="name" id="inputName" placeholder="Company name" required="" autofocus="">
                <label for="inputEmail">Contact email address</label>
                <input type="email" name="email" id="inputEmail" placeholder="Email address" required="" autofocus="">
                <label for="inputDesc">What do you need help with?</label>
                <textarea id="inputDesc"></textarea>
                <div style="margin-top: 20px">
                  <button class="button btn btn-lg btn-primary btn-block" type="submit">Submit request</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="display:none" id="expertse_placeholder"></div>
<script type="text/html" id="social_pill">
  <li class="social">
    <a href="<%= url %>"><%= name %></a>
    <span data-index="<%= index %>" class="remove_pill">X</span>
  </li>
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.2.16.min.js"></script>
<script type="text/javascript" src="lib/tmpl.js"></script>
<script src="edit.js"></script>
	</body>
</html>
