<style>
.profile .hire-link {
  display: none;
}
.list .edit-profile-link {
  display: none;
}
</style>

<script type="template" id="box-template">
  <div class="box <%= ui %>" style="height: 350px">
    <div>
      <img src="<%= image %>" style="width:100px;height:100px;">
      <h4><%= firstName %> <%= lastName %></h4>
      <h4><%= name %></h4>
      <h4>"<%= desc %>"
      <h4><%= organization %>
      </h4>
      $<%= hourly %>/hr &middot;
      <% for (var i = 0; i < social.length; i++) { %>
        <% if (i > 0) { %> &middot <% } %>
        <a class="social" href="<%= social[i].url %>"><%= social[i].name %></a>
      <% } %>
      <div><%= skills %></div>
      <div style="margin-top:15px" class="hire-link">
        <a href="#" class="button special request-modal-button" data-expert-id="<%= expert_id %>" class="button special" data-toggle="modal" data-target="#requestModal">Hire this interviewer</a>
      </div>

      <div style="margin-top:15px" class="edit-profile-link">
        <a href="/edit_profile.html" class="button special" data-expert-id="<%= expert_id %>" class="button special">Edit your profile</a>
      </div>
    </div>
  </div>
</script>
