<style>
.profile .hire-link {
  display: none;
}
.list .edit-profile-link {
  display: none;
}
.expert-box a {
  color: #e89980;
}
.verified {
  color: green;
  float: right;
  margin-top: 6px;
}
.request-modal-button {
  background-color: #D83F0F !important;
}
.request-modal-button:hover {
  background-color: #ED7751 !important;
}
.stars {
  vertical-align: middle
}
.interview-count {
  font-size: 15px;
}
</style>

<script type="template" id="box-template">
  <div class="expert-box box <%= ui %>">
    <div id="expert<%= expert_id %>">
      <img src="<%= image %>" style="width:100px;height:100px; float:left; margin-right: 20px;margin-top:13px">
      <div style="margin-left: 130px">
        <div class="verified">
          <i class="fa fa-check-circle"></i> Verified
        </div>
        <h3 style="margin-bottom:0px"><%= firstName %> <%= lastName %> - <%= organization %></h3>
        <div>
          <span class="stars"></span>
          <% if (ui == 'list') { %>
            &nbsp;&middot;&nbsp;
            <span class="interview-count"><%= interviewCount %> interviews</span>
          <% } %>
        </div>
        <h4><strong>"<%= desc %>"</strong></h4>
        <h4>$<%= hourly %>/hr
        <% for (var i = 0; i < social.length; i++) { %>
          &middot <a target="_blank" class="social" href="<%= social[i].url %>"><%= social[i].name %></a>
        <% } %>
        </h4>
        <div><%= skills %></div>
        <div style="margin-top:15px" class="hire-link">
          <a href="#" class="button special request-modal-button" data-expert-id="<%= expert_id %>" class="button special" data-toggle="modal" data-target="#requestModal">Hire this interviewer</a>
        </div>
      </div>

      <div style="margin-top:15px; margin-left: 130px" class="edit-profile-link">
        <a href="/edit_profile.html" class="" data-expert-id="<%= expert_id %>" class="button special">Edit your profile</a>
      </div>
    </div>
  </div>
</script>
