<!DOCTYPE HTML>
		<title>The Hiring Club</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/jquery.scrollgress.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.2.16.min.js"></script>
		<script src="list.js"></script>
		<script src="lib/tmpl.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-wide.css" />
		</noscript>
    <link rel="stylesheet" href="/css/bootstrap-modal.css">
    <!-- Optional theme -->
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"-->

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="skel-layers-fixed">
				<h1><a href="index.html">the hiring club</a> by JAI</h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="#">Login</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="container 75%">
				<header>
          <h4>
            Search: <input id="search" type="search" value="angularjs"/>
          </h4>
					<h4 style="display:none" id="searchterm-container">These hiring experts match your search for <strong><span id="searchterm"></span></strong>.</h4>
				</header>
        <div id="boxes"></div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
					<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
					<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Untitled. All rights reserved.</li>
				</ul>
			</footer>

  <script type="template" id="box-template">
      <div class="box" style="height: 350px">
        <div>
          <img src="<%= image %>" style="width:100px;height:100px;">
          <h4><%= name %></h4>
          <h4>"<%= desc %>"
          </h4>
          $<%= hourly %>/hr &middot; <a href="#">View resume</a>
          &middot;
          <span class="fa fa-home"></span>
          &middot;
          <span class="fa fa-github"></span>
          &middot;
          <span class="fa fa-linkedin"></span>
          <div><%= skills %></div>
          <div style="margin-top:15px">
            <a href="#" class="button special" data-toggle="modal" data-target="#companySignupModal">Hire this interviewer</a>
          </div>
        </div>
      </div>
  </script>
    <div class="modal fade" id="companySignupModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" style="margin-top: 10%">
        <div class="modal-content">
          <div class="modal-header">
            <span style="float:right;cursor:pointer" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></span>
            <h4 class="modal-title" id="myModalLabel">Reserve this expert to help with your hiring.</h4>
          </div>
          <div class="modal-body">
            <div id="company_form">
              <form class="form-createExpert">
                <label for="inputName">Company</label>
                <input type="text" name="name" id="inputName" placeholder="Company name" required="" autofocus="">
                <label for="inputEmail">Contact email address</label>
                <input type="email" name="email" id="inputEmail" placeholder="Email address" required="" autofocus="">
                <label for="inputDesc">What do you need help with?</label>
                <textarea id="inputDesc"></textarea>
                <div style="margin-top: 20px">
                  <button class="button btn btn-lg btn-primary btn-block" type="submit">Submit request</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
	</body>
</html>
