<script type="template" id="pay-template">
  <form action="" method="POST">
    <!-- data-key="pk_test_b43NI8q9ghXdyt9i1AiHWXRx" -->
    <!-- data-key="pk_live_Vthxiw4L6iSPeq0Z9gANDiLo" -->
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-amount="<%= cents %>"
      data-key="pk_test_b43NI8q9ghXdyt9i1AiHWXRx"
      data-name="Interview for <%= candidateName %>"
      data-description="Conducted by <%= expertName %> - $<%= price %>">
    </script>
  </form>
</script>