<style>
.accepted{
  color: green;
}
.action-button {
  margin-right: 10px;
}
</style>


<script type="template" id="request-template">
    <div class="box" id="<%= requestId %>">
      <div>
      <% if (!companyView) { %>
        <h2>Request from <%= company.name %><% if (state.name !== 'Requested') { %> - <span class="state <%= state.className %>"><%= state.name %></span><% } %></h2>
      <% } %>
      <% if (companyView) { %>
        <h2>Interview by <%= expert.name %> - <span class="state <%= state.className %>"><%= state.name.toLowerCase() %></span></h2>
      <% } %>

      <h3>Candidate: <%= candidateName %></h3>
      <h3><a href="#"><%= candidateEmail %></a> &middot; <a href="#"><%= candidatePhone %></a></h3>

      <div class="spacer" style="height:15px"></div>

      <% if (!companyView) { %>
        <div class="actions">
          <% for (var i = 0; i < state.actions.length; i++) { %>
            <span class="button special action-button" data-request-id="<%= requestId %>" data-next-state="<%= state.actions[i].nextState %>"><%= state.actions[i].button %></span>
          <% } %>
        </div>

        <div class="feedback-form-container"></div>
      <% } %>

      <% if (companyView) { %>
        <% if (state.name == 'Complete') { %>
          <span class="button action-button show-feedback" data-request-id="<%= requestId %>">Show feedback</span>
          <div class="feedback-container" style="display:none;"></div>
        <% } else if (paymentNeeded) { %>
          <div class="payment-container" style="display:none;"></div>
        <% } %>
      <% } %>
      </div>
    </div>
  </script>

<script type="template" id="request-action">
  <% for (var i = 0; i < state.actions.length; i++) { %>
      <span class="button special action-button" data-request-id="<%= requestId %>" data-next-state="<%= state.actions[i].nextState %>"><%= state.actions[i].button %></span>
  <% } %>
</script>
