<style>
.accepted{
  color: green;
}
.action-button {
  margin-right: 10px;
}
</style>


<script type="template" id="request-template">
    <div class="box">
      <div>
      <% if (!companyView) { %>
        <h2>Request from <%= company.name %><% if (state.name !== 'Requested') { %><span class="state <%= state.className %>"> - <%= state.name %></span><% } %></h2>
      <% } %>
      <% if (companyView) { %>
        <h2>Interviewer: <%= expert.name %></h2>
      <% } %>

        <h3>Candidate: <%= candidateName %></h3>
        <h3><%= candidateEmail %> - <%= candidatePhone %></h3>

      <% if (!companyView) { %>
        <div class="actions" id="<%= requestId %>">
          <% for (var i = 0; i < state.actions.length; i++) { %>
            <span class="button special action-button" data-request-id="<%= requestId %>" data-next-state="<%= state.actions[i].nextState %>"><%= state.actions[i].button %></span>
          <% } %>
        </div>
      <% } %>
      </div>
    </div>
  </script>

<script type="template" id="request-action">
  <% for (var i = 0; i < state.actions.length; i++) { %>
      <span class="button special action-button" data-request-id="<%= requestId %>" data-next-state="<%= state.actions[i].nextState %>"><%= state.actions[i].button %></span>
  <% } %>
</script>
